<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title><%= title %></title>
  <!-- Google Fonts Link -->
  <link href="https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap" rel="stylesheet"> 
  <!-- css link -->
  <link rel="stylesheet" href="css/main.css">
  <!-- Font swesome link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <!-- Javascript link -->
  <script type="module" src="js/client.js"></script>
</head>
<body class=<%= current %>>
  <div class="page-wrapper">
    <!-- Navigation -->
    <%- include('../partials/nav'); -%>
    <!-- Header -->
    <%- include('../partials/header'); -%>
    <main class="main">
      <div class="main-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
      </div>
      <div class="parallax">
        <h1>Visit the</h1>
      </div>
      <div class="bottom-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore sit aliquam laudantium voluptate ipsum earum ab animi molestiae sint ratione, repellat eligendi, iusto, asperiores placeat cupiditate id laboriosam minus quo. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam culpa quam laudantium quasi dicta, porro debitis beatae mollitia cum dolorum. Maiores quos dicta incidunt accusamus soluta voluptatum atque, alias officia.</p>
        </div>
        <div class="parallax lower">
          <h1>Beautiful Marvel</h1>
        </div>
    </main>
    <!-- Footer -->
    <%- include('../partials/footer'); %>
  </div>
</body>
</html>